footer {
    background-color: #E5E5E5;

    font-size: 14px;
}

.footer_content {
    padding: 32px 16px;
}

.footer_main {
    display: flex;
    flex-wrap: wrap;
}

.footer_main-title {
    font-weight: 600;
    margin-bottom: 20px;
}

.footer_nav, .footer_contacts {
    flex: 1 1 50%;
}

.footer_nav-list {
    list-style-type: none;

    margin: 20px 0;
    padding: 0;
}

.footer_nav-list a {
    line-height: 25px;
}

.footer_contacts-list {
    word-break: break-all;
}

.footer_contacts-list > div + div {
    margin-top: 12px;
}

.footer_main-input {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;

    border: none;
    outline: none;
    border-radius: 12px;

    background-color: #E9E9E9;
}

.footer_main-input::placeholder {
    color: #626262;
    font-size: 12px;
}

div.footer_main-signup {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 8px;
    display: block;
}

.footer_form {
    flex: 2;
    margin-top: 12px;
}

.footer_rights {
    margin-top: 112px;

    text-align: center;
}

.footer_rights > div + div {
    margin-top: 12px;
}

.footer_rights-links > a + a:before {
    content: "|";
    margin: 0 4px;
}
