@import "./header.css";
@import "./section-about.css";
@import "./section-report.css";
@import "./section-funds.css";
@import "./section-requisites.css";
@import "./section-buttons.css";
@import "./footer.css";

body {
    margin: 0;
    font-size: 18px;
}

.bold {
    font-weight: 600;
}

.section_content {
    margin: 0 16px;
}

.button {
    display: inline-block;
    padding: 16px 28px;
    border-radius: 12px;
    background-color: black;
    color: white;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}
