.funds {
    padding: 56px 0;
}

.funds_title {
    font-family: 'KTF Rublena', Arial, sans-serif;
    font-weight: 900;
    font-size: 24px;
    text-align: center;
    margin-bottom: 32px;
    line-height: 1;
}

.funds_items {
    display: flex;
    justify-content: space-between;
}

.funds_item {
    background: #FAED07;
    border-radius: 20px;
    padding: 24px 16px 36px;
    width: 33%;
    margin-right: 2px;
}

.funds_item_title {
    font-family: 'KTF Rublena', Arial, sans-serif;
    font-weight: 900;
    font-size: 24px;
    margin-bottom: 4px;
}

.funds_item_text {
    font-size: 11px;
    line-height: 1;
}

.requisites {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
}

.requisites_item {
    background: #9E76F8;
    border-radius: 36px;
    padding: 0 20px;
    margin-bottom: 4px;
}

.requisites_eur, .requisites_usd {
    padding: 20px;
    border-radius: 32px;
}

.requisites_eur {
    background: #36DBFF;
}

.requisites_usd {
    background: #36EBB5;
}

.requisites_title {
    font-family: 'KTF Rublena', Arial, sans-serif;
    font-weight: 900;
    font-size: 62px;
    margin-bottom: 12px;
}

.requisites_block {
    font-size: 14px;
    line-height: 1;
    margin-bottom: 16px;
}

.requisites_banks {
    display: flex;
    margin-bottom: 16px;
}

.requisites_bank {
    width: 50%;
}

.requisites_bank, .requisites_payments {
    font-size: 10px;
    line-height: 1;
}

.buttons {
    padding: 16px 0 60px;
    display: flex;
    justify-content: space-between;
    max-width: 380px;
    margin: 0 auto;
}

.buttons a {
    flex: 1;
    margin-right: 8px;
}
