footer {
    background-color: #E5E5E5;
    font-size: 14px;
    margin-top: 64px;
}

.section_content.footer_content {
    z-index: 1;
    position: relative;
    padding: 32px 16px;
}

.footer_main {
    display: flex;
    flex-wrap: wrap;

    @include laptop {
        max-width: 1300px;
        margin: 0 auto;
        font-size: 24px;
    }
}

.footer_main-title {
    font-weight: 600;
    margin-bottom: 20px;

    @include laptop {
        margin-bottom: 12px;
    }
}

.footer_nav, .footer_contacts {
    flex: 1 1 50%;

    @include laptop {
        flex: 1;
    }
}

.footer_nav {
    @include laptop {
        order: 1;
        a {
            margin-top: 44px;
        }
    }
}

.footer_contacts {
    @include laptop {
        order: 3;
    }
}

.footer_nav-list {
    list-style-type: none;

    margin: 0;
    padding: 0;
}

.footer_nav-list a {
    line-height: 25px;
}

.footer_contacts-list {
    word-break: break-all;
}

.footer_contacts-list > div + div {
    margin-top: 12px;
}

.footer_main-input {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;

    border: none;
    outline: none;
    border-radius: 12px;

    background-color: #E9E9E9;

    @include laptop {
        font-size: 24px;
    }
}

.footer_main-input::placeholder {
    color: #626262;
    font-size: 12px;
}

div.footer_main-signup {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 8px;
    display: block;
}

.footer_networks {
    display: flex;
    margin-top: 16px;

    @include laptop {
        margin-top: 24px;
    }
}

.footer_network {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-right: 12px;

    @include laptop {
        width: 52px;
        height: 52px;
        margin-right: 20px;
        border-radius: 12px;
        svg {
            transform: scale(1.4);
        }
    }
}

.facebook {
    background: #1877F2;
}

.instagram {
    background: #F00073;
}

.youtube {
    background: #FF0000;
}

.footer_form {
    flex: 2;
    margin-top: 12px;

    @include laptop {
        order: 2;
        max-width: 420px;
        margin: 0 100px;
    }
}

.footer_rights {
    margin-top: 112px;

    text-align: center;
}

.footer_rights > div + div {
    margin-top: 12px;
}

.footer_rights-links > a + a:before {
    content: "|";
    margin: 0 4px;
}
