.funds_title {
    @extend .rublena_bold;

    font-size: 24px;
    text-align: center;
    margin: 56px auto 0;
    line-height: 1;

    @include laptop {
        width: 680px;
        text-align: center;
        font-size: 56px;
    }
}

.funds_items {
    display: flex;
    justify-content: center;
    margin-top: 32px;

    @include laptop {
        margin-top: 60px;
    }
}

.funds_item {
    background: #FAED07;
    border-radius: 20px;
    padding: 24px 16px 36px;
    flex: 1;

    & + .funds_item {
        margin-left: 2px;

        @include laptop {
            margin-left: 4px;
        }
    }

    @include laptop {
        max-width: 340px;
        padding: 40px;
    }
}

.funds_item_title {
    @extend .rublena_bold;

    font-size: 24px;
    margin-bottom: 4px;

    @include laptop {
        font-size: 64px;
        margin-bottom: 28px;
        text-align: center;
    }
}

.funds_item_text {
    font-size: 11px;
    line-height: 1;

    @include laptop {
        font-size: 20px;
        text-align: center;
    }
}

.requisites {
    margin-top: 64px;
    display: flex;
    flex-direction: column;

    @include laptop {
        flex-direction: row;
        justify-content: center;
    }
}

.requisites_item {
    background: #9E76F8;
    border-radius: 36px;
    padding: 0 20px;
    margin-bottom: 4px;
    flex: 1;

    @include laptop {
        max-width: 648px;

        & + .requisites_item {
            margin-left: 5px;
        }
    }
}

.requisites_eur, .requisites_usd {
    height: 100%;
    padding: 20px;
    border-radius: 32px;

    @include laptop {
        padding: 20px 20px 48px;
    }

    @include desktop {
        padding: 20px 52px 48px;
    }
}

.requisites_eur {
    background: #36DBFF;
}

.requisites_usd {
    background: #36EBB5;
}

.requisites_title {
    @extend .rublena_bold;

    font-size: 62px;

    @include laptop {
        font-size: 100px;
    }
}

.requisites_block {
    font-size: 14px;
    line-height: 1;
    margin-top: 12px;

    @include laptop {
        font-size: 24px;
    }
}

.requisites_banks {
    display: flex;
    margin-top: 16px;

    @include laptop {
        margin-top: 24px;
    }
}

.requisites_bank {
    width: 50%;
}

.requisites_bank, .requisites_payments {
    font-size: 10px;
    line-height: 1;

    @include laptop {
        font-size: 16px;
    }
}

.requisites_payments {
    margin-top: 16px;

    @include laptop {
        margin-top: 32px;
    }
}

.buttons {
    display: flex;
    justify-content: space-between;
    max-width: 380px;
    margin: 36px auto 0;


    & > .button_donate {
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;

        @include laptop {
            display: none;
        }
    }

    @include laptop {
        max-width: unset;
        justify-content: center;
        margin-top: 86px;
    }

    & > a {
        font-size: 16px;
        flex: 1;

        @include laptop {
            flex: 0;
            font-size: inherit;
        }

        & + a {
            margin-left: 8px;
        }
    }
}
