.funds {
    padding: 56px 0;
}

.funds_title {
    font-family: 'KTF Rublena', Arial, sans-serif;
    font-weight: 900;
    font-size: 24px;
    text-align: center;
    margin-bottom: 32px;
    line-height: 1;

    @include laptop {
        margin: 0 auto 60px auto;
        width: 680px;
        text-align: center;
        font-size: 56px;
    }
}

.funds_items {
    display: flex;
    justify-content: center;
}

.funds_item {
    background: #FAED07;
    border-radius: 20px;
    padding: 24px 16px 36px;
    flex: 1;

    & + .funds_item {
        margin-left: 2px;

        @include laptop {
            margin-left: 4px;
        }
    }

    @include laptop {
        max-width: 340px;
        padding: 40px;
    }
}

.funds_item_title {
    font-family: 'KTF Rublena', Arial, sans-serif;
    font-weight: 900;
    font-size: 24px;
    margin-bottom: 4px;

    @include laptop {
        font-size: 64px;
        margin-bottom: 28px;
        text-align: center;
    }
}

.funds_item_text {
    font-size: 11px;
    line-height: 1;

    @include laptop {
        font-size: 20px;
        text-align: center;
    }
}

.requisites {
    padding: 20px 0;
    display: flex;
    flex-direction: column;

    @include laptop {
        flex-direction: row;
        justify-content: center;
    }
}

.requisites_item {
    background: #9E76F8;
    border-radius: 36px;
    padding: 0 20px;
    margin-bottom: 4px;
    flex: 1;

    @include laptop {
        max-width: 648px;

        & + .requisites_item {
            margin-left: 5px;
        }
    }
}

.requisites_eur, .requisites_usd {
    height: 100%;
    padding: 20px;
    border-radius: 32px;
}

.requisites_eur {
    background: #36DBFF;
}

.requisites_usd {
    background: #36EBB5;
}

.requisites_title {
    font-family: 'KTF Rublena', Arial, sans-serif;
    font-weight: 900;
    font-size: 62px;
    margin-bottom: 12px;
}

.requisites_block {
    font-size: 14px;
    line-height: 1;
    margin-bottom: 16px;
}

.requisites_banks {
    display: flex;
    margin-bottom: 16px;
}

.requisites_bank {
    width: 50%;
}

.requisites_bank, .requisites_payments {
    font-size: 10px;
    line-height: 1;
}

.buttons {
    padding: 16px 0 60px;
    display: flex;
    justify-content: space-between;
    max-width: 380px;
    margin: 0 auto;


    & > .button_donate {
        font-size: 24px;
        display: flex;
        justify-content: center;
        align-items: center;

        @include laptop {
            display: none;
        }
    }

    @include laptop {
        max-width: unset;
        justify-content: center;
    }

    & > a {
        flex: 1;

        @include laptop {
            flex: 0;
        }

        & + a {
            margin-left: 8px;
        }
    }
}
