.team {
  margin: 0 auto;
  padding: 30px 15px;
  max-width: 1200px;

  @include laptop {
    padding: 60px 15px 200px;
  }
}

.team_title {
  @extend .rublena_bold;

  text-align: center;
  font-size: 38px;

  @include laptop {
    font-size: 120px;
  }
}

.team_members {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;

  @include laptop {
    margin-top: 80px;
    justify-content: flex-end;
  }
}

.team_member {
  width: 100%;
  max-width: 588px;
  margin: 30px 0 0;

  @include laptop {
    width: calc(50% - 16px);
    margin-top: 80px;

    &:nth-child(2n) {
      margin-left: 32px;
    }
  }

  &-photo {
    background: #9E76F8;
    border-radius: 20px;
    padding: 0 20px;
    overflow: hidden;
    img {
      width: 100%;
      margin-bottom: -8px;
    }
    @include laptop {
      border-radius: 40px;
      padding: 0 32px;
    }
  }

  &-name {
    @extend .rublena_bold;
    font-size: 24px;
    margin-top: 16px;

    @include laptop {
      font-size: 36px;
      margin-top: 48px;
    }
  }

  &-position {
    margin-top: 10px;
    font-size: 20px;

    @include laptop {
      font-size: 36px;
    }
  }
}
