@font-face {
  font-family: "Mariupol";
  src: url("./fonts/Mariupol-Regular.woff") format("woff"), url("./fonts/Mariupol-Regular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Mariupol";
  src: url("./fonts/Mariupol-Bold.woff") format("woff"), url("./fonts/Mariupol-Bold.otf") format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "KTF Rublena";
  src: url("./fonts/KTFRublena-Solid.otf") format("opentype"), url("./fonts/KTFRublena-Solid.otf") format("truetype");
  font-weight: 700;
}
header {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 15px 1px rgba(0, 0, 0, 0.09);
}

header + section {
  margin-top: 60px;
}
@media (min-width: 1024px) {
  header + section {
    margin-top: 112px;
  }
}

.header_content {
  max-width: 1440px;
  height: 60px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 0 16px;
  position: relative;
  z-index: 1;
}
@media (min-width: 1024px) {
  .header_content {
    height: 112px;
    padding: 0 44px;
  }
}
.header_content > .header_donate-container {
  flex: 1;
}
@media (min-width: 1024px) {
  .header_content > .header_donate-container {
    flex: 0;
  }
}
.header_content > a {
  font-size: 14px;
  font-weight: 700;
}
@media (min-width: 1024px) {
  .header_content > a {
    font-size: 24px;
  }
}
.header_content > a + a {
  margin-left: 20px;
}
@media (min-width: 1024px) {
  .header_content > a + a {
    margin-left: 56px;
  }
}
.header_content > .header_donate-container + a {
  margin-left: 12px;
}
@media (min-width: 1024px) {
  .header_content > .header_donate-container + a {
    margin-left: 56px;
  }
}

.header_icon {
  display: none;
  width: 176px;
  height: 84px;
}
@media (min-width: 1024px) {
  .header_icon {
    display: block;
    flex: 1;
  }
}
.header_icon > svg {
  height: 100%;
}

.about_header {
  position: relative;
  background-color: #9E76F8;
  height: 264px;
  border-radius: 0 0 23px 23px;
  color: white;
}
@media (min-width: 1024px) {
  .about_header {
    height: 664px;
    border-radius: 0 0 80px 80px;
  }
}

.about_header-title {
  padding-top: 15px;
  width: 260px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
@media (min-width: 1024px) {
  .about_header-title {
    margin: 0;
    width: 640px;
    padding: 128px 0 0 48px;
  }
}
@media (min-width: 1440px) {
  .about_header-title {
    padding: 128px 0 0 68px;
  }
}

.about_header-title-main {
  text-align: center;
  font-size: 44px;
  line-height: 36px;
  margin: 0;
}
@media (min-width: 1024px) {
  .about_header-title-main {
    text-align: left;
    font-size: 106px;
    line-height: 88px;
  }
}

.about_header-title-flag {
  position: absolute;
  width: 26px;
  top: 61px;
  left: 228px;
}
@media (min-width: 1024px) {
  .about_header-title-flag {
    width: 124px;
    top: 215px;
    left: 508px;
  }
}
@media (min-width: 1440px) {
  .about_header-title-flag {
    left: 528px;
  }
}
.about_header-title-flag > div {
  height: 12px;
}
@media (min-width: 1024px) {
  .about_header-title-flag > div {
    height: 42px;
  }
}
.about_header-title-flag > div:first-child {
  background-color: #3B6BF2;
}
.about_header-title-flag > div:last-child {
  background-color: #FAED07;
}

.about_header-title-sec {
  font-size: 12px;
  margin-top: 8px;
}
@media (min-width: 1024px) {
  .about_header-title-sec {
    font-size: 28px;
    line-height: 28px;
    margin-top: 80px;
    text-align: center;
  }
}

.about_header-back {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -2px;
  width: 110px;
  height: 114px;
}
@media (min-width: 1024px) {
  .about_header-back {
    left: unset;
    right: 20px;
    transform: unset;
    bottom: -7px;
    width: 368px;
    height: 382px;
  }
}
@media (min-width: 1440px) {
  .about_header-back {
    right: 100px;
    bottom: -6px;
    width: 468px;
    height: 482px;
  }
}

.about_text {
  margin: 36px 20px 0 20px;
}
@media (min-width: 1024px) {
  .about_text--top {
    text-align: center;
  }
}
@media (min-width: 1024px) {
  .about_text {
    width: 800px;
    margin: 100px auto 0;
  }
}
.about_text--footer {
  margin-top: 80px;
}

.about_main {
  background-color: #9E76F8;
  position: relative;
  left: -15px;
  width: calc(100% + 30px);
  margin: 60px 0 0;
  font-weight: 700;
}
@media (min-width: 1024px) {
  .about_main {
    position: static;
    width: 800px;
    margin: 100px auto 0;
    border-left: 32px solid #9E76F8;
    border-right: 32px solid #9E76F8;
    border-radius: 32px;
  }
}

.about_main-content {
  margin: 0 6px;
  padding: 12px 28px;
  background-color: white;
  border-radius: 23px;
}
@media (min-width: 1024px) {
  .about_main-content {
    font-size: 52px;
    line-height: 52px;
    margin: 0;
    padding: 32px 100px;
    border-radius: 32px;
  }
}

.report {
  background-color: #9E76F8;
  color: white;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  margin-top: 156px;
  padding-bottom: 40px;
}
@media (min-width: 1024px) {
  .report {
    margin-top: 196px;
    padding-bottom: 120px;
  }
}
@media (min-width: 1440px) {
  .report {
    margin-top: 296px;
  }
}

.report_header-images {
  position: relative;
  width: 288px;
  height: 80px;
  margin: 0 auto;
}
@media (min-width: 1024px) {
  .report_header-images {
    width: 800px;
    height: 200px;
  }
}
@media (min-width: 1440px) {
  .report_header-images {
    height: 240px;
  }
}

.report_header-image {
  position: absolute;
}
.report_header-image--1 {
  width: 100px;
  height: 76px;
  top: -38px;
  left: -10px;
  z-index: 2;
}
@media (min-width: 1024px) {
  .report_header-image--1 {
    width: 250px;
    height: 190px;
    top: -76px;
    left: 0px;
  }
}
@media (min-width: 1440px) {
  .report_header-image--1 {
    width: 354px;
    height: 266px;
    top: -104px;
    left: -172px;
  }
}
.report_header-image--2 {
  width: 100px;
  height: 76px;
  top: -60px;
  left: 78px;
}
@media (min-width: 1024px) {
  .report_header-image--2 {
    width: 250px;
    height: 190px;
    top: -120px;
    left: 200px;
  }
}
@media (min-width: 1440px) {
  .report_header-image--2 {
    width: 354px;
    height: 266px;
    top: -200px;
    left: 140px;
  }
}
.report_header-image--3 {
  width: 66px;
  height: 44px;
  top: -20px;
  left: 146px;
  z-index: 2;
}
@media (min-width: 1024px) {
  .report_header-image--3 {
    width: 165px;
    height: 110px;
    top: -20px;
    left: 380px;
  }
}
@media (min-width: 1440px) {
  .report_header-image--3 {
    width: 232px;
    height: 157px;
  }
}
.report_header-image--4 {
  width: 100px;
  height: 76px;
  top: -58px;
  left: 200px;
  z-index: 3;
}
@media (min-width: 1024px) {
  .report_header-image--4 {
    width: 250px;
    height: 190px;
    top: -116px;
    left: 520px;
  }
}
@media (min-width: 1440px) {
  .report_header-image--4 {
    width: 354px;
    height: 266px;
    top: -156px;
    left: 580px;
  }
}

.report_title {
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 35px;
  line-height: 30px;
}
@media (min-width: 1024px) {
  .report_title {
    font-size: 84px;
    line-height: 84px;
  }
}
@media (min-width: 1440px) {
  .report_title {
    font-size: 104px;
  }
}

.report_text {
  max-width: 800px;
  margin: 36px auto 0;
}
@media (min-width: 1024px) {
  .report_text {
    margin: 68px auto 0;
  }
}
.report_text--footer {
  text-align: center;
}
@media (min-width: 1024px) {
  .report_text--footer {
    width: 600px;
    margin-top: 128px;
  }
}

/* report gallery start */
.report_gallery {
  width: 288px;
  height: 480px;
  margin: 72px auto 0;
  position: relative;
}
@media (min-width: 1024px) {
  .report_gallery {
    width: 920px;
    height: 500px;
    margin: 100px auto 0;
  }
}
@media (min-width: 1440px) {
  .report_gallery {
    height: 800px;
  }
}

@media (min-width: 1024px) {
  .report_gallery-background {
    transform: rotate(90deg);
    height: 800px;
    position: absolute;
    left: 180px;
    top: -120px;
  }
}
@media (min-width: 1440px) {
  .report_gallery-background {
    height: 1160px;
    left: 70px;
    top: -190px;
  }
}

.report_gallery-image {
  position: absolute;
  border-radius: 12px;
}
.report_gallery-image--1 {
  width: 101px;
  height: 72px;
  top: 12px;
  left: 152px;
}
@media (min-width: 1024px) {
  .report_gallery-image--1 {
    width: 220px;
    height: 158px;
    top: 72px;
    left: 622px;
    z-index: 2;
  }
}
@media (min-width: 1440px) {
  .report_gallery-image--1 {
    width: 275px;
    height: 198px;
    top: 92px;
    left: 722px;
    z-index: 2;
  }
}
.report_gallery-image--2 {
  width: 93px;
  height: 123px;
  top: 28px;
  left: 0px;
}
@media (min-width: 1024px) {
  .report_gallery-image--2 {
    width: 230px;
    height: 304px;
    top: 72px;
    left: 24px;
  }
}
@media (min-width: 1440px) {
  .report_gallery-image--2 {
    width: 287px;
    height: 380px;
    top: 142px;
    left: -66px;
  }
}
.report_gallery-image--3 {
  width: 118px;
  height: 169px;
  top: 124px;
  left: 84px;
  z-index: 2;
}
@media (min-width: 1024px) {
  .report_gallery-image--3 {
    width: 201px;
    height: 286px;
    top: 224px;
    left: 374px;
  }
}
@media (min-width: 1440px) {
  .report_gallery-image--3 {
    width: 251px;
    height: 358px;
    top: 354px;
    left: 434px;
  }
}
.report_gallery-image--4 {
  width: 83px;
  height: 120px;
  top: 224px;
  left: -8px;
}
@media (min-width: 1024px) {
  .report_gallery-image--4 {
    width: 169px;
    height: 245px;
    top: 314px;
    left: 172px;
  }
}
@media (min-width: 1440px) {
  .report_gallery-image--4 {
    width: 211px;
    height: 306px;
    top: 374px;
    left: 172px;
  }
}
.report_gallery-image--5 {
  width: 104px;
  height: 54px;
  top: 190px;
  left: 192px;
}
@media (min-width: 1024px) {
  .report_gallery-image--5 {
    width: 169px;
    height: 92px;
    top: 350px;
    left: 592px;
  }
}
@media (min-width: 1440px) {
  .report_gallery-image--5 {
    width: 221px;
    height: 115px;
    top: 500px;
    left: 712px;
  }
}
.report_gallery-image--6 {
  width: 119px;
  height: 84px;
  top: 320px;
  left: 160px;
}
@media (min-width: 1024px) {
  .report_gallery-image--6 {
    width: 174px;
    height: 122px;
    top: 200px;
    left: 530px;
  }
}
@media (min-width: 1440px) {
  .report_gallery-image--6 {
    width: 218px;
    height: 153px;
    top: 270px;
    left: 640px;
  }
}
.report_gallery-image--7 {
  width: 88px;
  height: 71px;
  top: 400px;
  left: 12px;
}
@media (min-width: 1024px) {
  .report_gallery-image--7 {
    width: 191px;
    height: 155px;
    top: 30px;
    left: 292px;
  }
}
@media (min-width: 1440px) {
  .report_gallery-image--7 {
    width: 239px;
    height: 194px;
    top: 30px;
    left: 262px;
  }
}

.report_gallery-footer {
  position: absolute;
  width: 28px;
  height: 28px;
  top: 452px;
  left: 220px;
}
@media (min-width: 1024px) {
  .report_gallery-footer {
    width: 56px;
    height: 56px;
    top: 740px;
    left: 428px;
  }
}
@media (min-width: 1440px) {
  .report_gallery-footer {
    width: 56px;
    height: 56px;
    top: 1042px;
    left: 428px;
  }
}

/* report gallery end */
.report_more {
  margin: 40px 0 0;
  display: flex;
  justify-content: center;
}
@media (min-width: 1024px) {
  .report_more {
    margin: 180px 0 0;
  }
}

.funds_title {
  font-size: 24px;
  text-align: center;
  margin: 56px auto 0;
  line-height: 1;
}
@media (min-width: 1024px) {
  .funds_title {
    width: 680px;
    text-align: center;
    font-size: 56px;
  }
}

.funds_items {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}
@media (min-width: 1024px) {
  .funds_items {
    margin-top: 60px;
  }
}

.funds_item {
  background: #FAED07;
  border-radius: 20px;
  padding: 24px 16px 36px;
  flex: 1;
}
.funds_item + .funds_item {
  margin-left: 2px;
}
@media (min-width: 1024px) {
  .funds_item + .funds_item {
    margin-left: 4px;
  }
}
@media (min-width: 1024px) {
  .funds_item {
    max-width: 340px;
    padding: 40px;
  }
}

.funds_item_title {
  font-size: 24px;
  margin-bottom: 4px;
}
@media (min-width: 1024px) {
  .funds_item_title {
    font-size: 64px;
    margin-bottom: 28px;
    text-align: center;
  }
}

.funds_item_text {
  font-size: 11px;
  line-height: 1;
}
@media (min-width: 1024px) {
  .funds_item_text {
    font-size: 20px;
    text-align: center;
  }
}

.requisites {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .requisites {
    flex-direction: row;
    justify-content: center;
  }
}

.requisites_item {
  background: #9E76F8;
  border-radius: 36px;
  padding: 0 20px;
  margin-bottom: 4px;
  flex: 1;
}
@media (min-width: 1024px) {
  .requisites_item {
    max-width: 648px;
  }
  .requisites_item + .requisites_item {
    margin-left: 5px;
  }
}

.requisites_eur, .requisites_usd {
  height: 100%;
  padding: 20px;
  border-radius: 32px;
}
@media (min-width: 1024px) {
  .requisites_eur, .requisites_usd {
    padding: 20px 20px 48px;
  }
}
@media (min-width: 1440px) {
  .requisites_eur, .requisites_usd {
    padding: 20px 52px 48px;
  }
}

.requisites_eur {
  background: #36DBFF;
}

.requisites_usd {
  background: #36EBB5;
}

.requisites_title {
  font-size: 62px;
}
@media (min-width: 1024px) {
  .requisites_title {
    font-size: 100px;
  }
}

.requisites_block {
  font-size: 14px;
  line-height: 1;
  margin-top: 12px;
}
@media (min-width: 1024px) {
  .requisites_block {
    font-size: 24px;
  }
}

.requisites_banks {
  display: flex;
  margin-top: 16px;
}
@media (min-width: 1024px) {
  .requisites_banks {
    margin-top: 24px;
  }
}

.requisites_bank {
  width: 50%;
}

.requisites_bank, .requisites_payments {
  font-size: 10px;
  line-height: 1;
}
@media (min-width: 1024px) {
  .requisites_bank, .requisites_payments {
    font-size: 16px;
  }
}

.requisites_payments {
  margin-top: 16px;
}
@media (min-width: 1024px) {
  .requisites_payments {
    margin-top: 32px;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  max-width: 380px;
  margin: 36px auto 0;
}
.buttons > .button_donate {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1024px) {
  .buttons > .button_donate {
    display: none;
  }
}
@media (min-width: 1024px) {
  .buttons {
    max-width: unset;
    justify-content: center;
    margin-top: 86px;
  }
}
.buttons > a {
  font-size: 16px;
  flex: 1;
}
@media (min-width: 1024px) {
  .buttons > a {
    flex: 0;
    font-size: inherit;
  }
}
.buttons > a + a {
  margin-left: 8px;
}

.team {
  margin: 0 auto;
  padding: 30px 15px;
  max-width: 1200px;
}
@media (min-width: 1024px) {
  .team {
    padding: 60px 15px 200px;
  }
}

.team_title {
  text-align: center;
  font-size: 38px;
}
@media (min-width: 1024px) {
  .team_title {
    font-size: 120px;
  }
}

.team_members {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}
@media (min-width: 1024px) {
  .team_members {
    margin-top: 80px;
    justify-content: flex-end;
  }
}

.team_member {
  width: 100%;
  max-width: 588px;
  margin: 30px 0 0;
}
@media (min-width: 1024px) {
  .team_member {
    width: calc(50% - 16px);
    margin-top: 80px;
  }
  .team_member:nth-child(2n) {
    margin-left: 32px;
  }
}
.team_member-photo {
  background: #9E76F8;
  border-radius: 20px;
  padding: 0 20px;
  overflow: hidden;
}
.team_member-photo img {
  width: 100%;
  margin-bottom: -8px;
}
@media (min-width: 1024px) {
  .team_member-photo {
    border-radius: 40px;
    padding: 0 32px;
  }
}
.team_member-name {
  font-size: 24px;
  margin-top: 16px;
}
@media (min-width: 1024px) {
  .team_member-name {
    font-size: 36px;
    margin-top: 48px;
  }
}
.team_member-position {
  margin-top: 10px;
  font-size: 20px;
}
@media (min-width: 1024px) {
  .team_member-position {
    font-size: 36px;
  }
}

.projects {
  margin: 0 auto;
  padding: 30px 15px;
  max-width: 1200px;
}
@media (min-width: 1024px) {
  .projects {
    padding: 60px 15px 200px;
  }
}

.projects_title {
  text-align: center;
  font-size: 38px;
}
@media (min-width: 1024px) {
  .projects_title {
    font-size: 120px;
  }
}

.projects_item {
  display: block;
  margin-top: 40px;
}
@media (min-width: 1024px) {
  .projects_item {
    margin-top: 120px;
  }
}

.projects_photo {
  background: #9E76F8;
  border-radius: 20px;
  padding: 0 20px;
  overflow: hidden;
}
.projects_photo img {
  width: 100%;
  margin-bottom: -5px;
  border-radius: 20px;
}
@media (min-width: 1024px) {
  .projects_photo {
    border-radius: 40px;
    padding: 0 32px;
  }
}

.projects_description {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}
@media (min-width: 1024px) {
  .projects_description {
    padding: 0 50px;
    margin-top: 36px;
  }
}
.projects_description-name {
  font-size: 24px;
}
@media (min-width: 1024px) {
  .projects_description-name {
    font-size: 36px;
  }
}
.projects_description-text {
  font-size: 20px;
  margin-top: 8px;
}
@media (min-width: 1024px) {
  .projects_description-text {
    font-size: 24px;
    margin-top: 16px;
  }
}
.projects_description-year {
  font-size: 24px;
}
@media (min-width: 1024px) {
  .projects_description-year {
    font-size: 36px;
  }
}

footer {
  background-color: #E5E5E5;
  font-size: 14px;
  margin-top: 64px;
}
@media (min-width: 1024px) {
  footer {
    font-size: 24px;
  }
}

.section_content.footer_content {
  z-index: 1;
  position: relative;
  padding: 32px 16px;
}

.footer_main {
  display: flex;
  flex-wrap: wrap;
}

.footer_main-title {
  font-weight: 700;
  margin-bottom: 20px;
}
@media (min-width: 1024px) {
  .footer_main-title {
    margin-bottom: 12px;
  }
}

.footer_nav, .footer_contacts {
  flex: 1 1 50%;
}
@media (min-width: 1024px) {
  .footer_nav, .footer_contacts {
    flex: 1;
  }
}

@media (min-width: 1024px) {
  .footer_nav {
    margin: 0 20px 0 40px;
    order: 1;
  }
  .footer_nav a {
    margin-top: 44px;
  }
}

@media (min-width: 1024px) {
  .footer_contacts {
    margin: 0 40px 0 20px;
    order: 3;
    text-align: right;
  }
}

.footer_nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer_nav-list a {
  line-height: 25px;
}

.footer_contacts-list {
  word-break: break-all;
}

.footer_contacts-list > div + div {
  margin-top: 12px;
}

.footer_main-input {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  border: none;
  outline: none;
  border-radius: 12px;
  background-color: #E9E9E9;
}
@media (min-width: 1024px) {
  .footer_main-input {
    font-size: 24px;
  }
}

.footer_main-input::placeholder {
  color: #626262;
  font-size: 12px;
}
@media (min-width: 1024px) {
  .footer_main-input::placeholder {
    font-size: 18px;
  }
}

div.footer_main-signup {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 8px;
  display: block;
}

.footer_networks {
  display: flex;
  margin-top: 16px;
}
@media (min-width: 1024px) {
  .footer_networks {
    margin-top: 24px;
    justify-content: flex-end;
  }
}

.footer_network {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin-right: 12px;
}
@media (min-width: 1024px) {
  .footer_network {
    width: 52px;
    height: 52px;
    margin-left: 20px;
    margin-right: 0;
    border-radius: 12px;
  }
  .footer_network svg {
    transform: scale(1.4);
  }
}

.facebook {
  background: #1877F2;
}

.instagram {
  background: #F00073;
}

.youtube {
  background: #FF0000;
}

.footer_form {
  flex: 1.5;
  margin-top: 12px;
}
@media (min-width: 1024px) {
  .footer_form {
    flex: 1;
    margin: 0 20px;
    order: 2;
  }
}

.footer_rights {
  margin-top: 112px;
  text-align: center;
}

.footer_rights > div + div {
  margin-top: 12px;
}

.footer_rights-links > a + a:before {
  content: "|";
  margin: 0 4px;
}

body {
  margin: 0;
  font-size: 18px;
  font-family: "Mariupol", sans-serif;
}
@media (min-width: 1024px) {
  body {
    font-size: 24px;
  }
}

* {
  box-sizing: border-box;
}

.rublena_bold, .button_donate, .header_content, .about_header-title-main, .about_main-content, .report_title, .funds_title, .funds_item_title, .requisites_title, .team_title, .team_member-name, .projects_title, .projects_description-name {
  font-family: "KTF Rublena", sans-serif;
  font-weight: 700;
}

.bold {
  font-weight: 700;
}

.section_content {
  padding: 0 16px;
  max-width: 1440px;
}
@media (min-width: 1024px) {
  .section_content {
    padding: 0 44px;
  }
}
@media (min-width: 1440px) {
  .section_content {
    margin: 0 auto;
  }
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 16px 20px;
  border-radius: 12px;
  background-color: black;
  color: white;
  text-align: center;
  white-space: nowrap;
}
.button svg {
  margin-left: 5px;
}

.button_donate {
  display: inline-block;
  padding: 8px 20px;
  border-radius: 12px;
  background-color: #9E76F8;
  font-size: 14px;
  line-height: 1;
  color: white;
  position: relative;
  margin-bottom: 8px;
  text-align: center;
  white-space: nowrap;
}
.button_donate_desktop {
  display: none;
}
@media (min-width: 1024px) {
  .button_donate {
    padding: 8px 40px;
    font-size: 24px;
  }
  .button_donate_desktop {
    display: inline-block;
  }
}
.button_donate:after {
  content: "";
  display: block;
  width: 100%;
  height: calc(100% + 8px);
  background-color: #EFF400;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 12px;
  z-index: -1;
}

a {
  text-decoration: none;
  color: black;
}
